.container{
   padding-top: 20px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


label{
    padding-top: 20px;
}
.btn{
    width:150px;
    border-radius: 30px !important;
}


@media screen and (min-width:768px){
    .container{
        margin-top: 20px;
        border: 1px solid rgb(211, 205, 205);
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    }
.form-inputs{
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: row;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

}

@media screen and (min-width:1024px){
    .form-inputs{
        grid-template-columns: auto auto auto;
    }
}