.header{
    background-image: url(/public/images/fslogo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: auto;
    align-items: center;
    img{
        display: none;
    }
    
    a{
        color: white;
        padding: 0px 10px;
        text-align: center;
    }
    .nav-1{
        padding-top: 0;
    }
}

.nav-button{
    display: block !important; 
    text-align: right;
}
.section-2{
    background-image: url(/public/images/section-img.jpg);
    width:100%;
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    height: 180px;
    padding: 11px 70px;
   

    .btn-1{
        background-color: #1a468c;
        padding: 15px;
        display: flex;
        border-radius: 10px;
        color: white;
        font-size: 18px;
        min-width: 180px;
        transition: 0.3s ease-in-out all;
        margin-bottom: 12px;
        border: transparent;
    }
    .btn-2{
        background-color: white;
        color: #1a468c;
        padding: 15px;
        display: flex;
        border-radius: 10px;
        font-size: 18px;
        min-width: 180px;
        transition: 0.3s ease-in-out all;
        margin-bottom: 12px;
        border: transparent;
    }
}
.info{
    padding: 0 30px;
    h1{
        font-size: 21px;
        line-height: 26.25px;
        color: #1a468c;
        font-weight: 400;
        padding-top: 20px;

    }
    p{
        color: #1a468c;
        line-height: normal;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        padding-top: 15px;

    }
}
.accordion{
    
    h1{
        font-size: 21px;
        line-height: 26.25px;
        color: #1a468c;
        font-weight: 400;
        padding-top: 20px;

    }
    .accordion-item{
        font-size: 18px;
        color: #1a468c;
        font-family: lato;
        background-color: #dee1f2
    }
    .accordion-button{
        color: #1a468c;
        padding-bottom:20px;
    }
}
@media screen and (min-width:768px) {
    .header{
        background-image: url(/public/images/cloud.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: space-around;
       .nav-1{
        justify-content: end;
        gap:20px;
       }
    img{
        display: inline;
        height: 100px;
        padding-left: 20px;
        
    }
}
    
}
